In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (12, 6)

df = pd.read_csv('../../data/basketball/raw/iowa-state_2025_gamelogs.csv')

print("Iowa State 2025 Game Logs")
print("=" * 60)
print(f"Shape: {df.shape}")
print(f"\nFirst few rows:")
df.head()

Iowa State 2025 Game Logs
============================================================
Shape: (35, 55)

First few rows:

,Rk,Gtm,Date,Unnamed: 3,Opp,Type,Rslt,Tm,Opp.1,OT,...,DRB.1,TRB.1,AST.1,STL.1,BLK.1,TOV.1,PF.1,school_slug,season,scraped_at
0,1,1,2024-11-04,NaN,Mississippi Valley State,REG (Non-Conf),W,83,44,NaN,...,24,29,8,9,1,23,19,iowa-state,2025,2025-12-26 15:17:47
1,2,2,2024-11-11,NaN,Kansas City,REG (Non-Conf),W,82,56,NaN,...,14,22,9,6,5,12,17,iowa-state,2025,2025-12-26 15:17:47
2,3,3,2024-11-18,NaN,IU Indy,REG (Non-Conf),W,87,52,NaN,...,22,27,9,4,0,19,21,iowa-state,2025,2025-12-26 15:17:47
3,4,4,2024-11-25,N,Auburn,REG (Non-Conf),L,81,83,NaN,...,23,30,14,7,4,12,23,iowa-state,2025,2025-12-26 15:17:47
4,5,5,2024-11-26,N,Dayton,REG (Non-Conf),W,89,84,NaN,...,19,25,17,3,3,11,23,iowa-state,2025,2025-12-26 15:17:47

In [4]:
# See all column names
print("ðŸ“‹ All Columns:")
print(df.columns.tolist())
print(f"\nTotal columns: {len(df.columns)}")

ðŸ“‹ All Columns:
['Rk', 'Gtm', 'Date', 'Unnamed: 3', 'Opp', 'Type', 'Rslt', 'Tm', 'Opp.1', 'OT', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'FG.1', 'FGA.1', 'FG%.1', '3P.1', '3PA.1', '3P%.1', '2P.1', '2PA.1', '2P%.1', 'eFG%.1', 'FT.1', 'FTA.1', 'FT%.1', 'ORB.1', 'DRB.1', 'TRB.1', 'AST.1', 'STL.1', 'BLK.1', 'TOV.1', 'PF.1', 'school_slug', 'season', 'scraped_at']

Total columns: 55

In [5]:
# Look at the raw column structure
print("\nColumn breakdown:")
for i, col in enumerate(df.columns):
    print(f"{i:2d}. {col}")

Column breakdown:
 0. Rk
 1. Gtm
 2. Date
 3. Unnamed: 3
 4. Opp
 5. Type
 6. Rslt
 7. Tm
 8. Opp.1
 9. OT
10. FG
11. FGA
12. FG%
13. 3P
14. 3PA
15. 3P%
16. 2P
17. 2PA
18. 2P%
19. eFG%
20. FT
21. FTA
22. FT%
23. ORB
24. DRB
25. TRB
26. AST
27. STL
28. BLK
29. TOV
30. PF
31. FG.1
32. FGA.1
33. FG%.1
34. 3P.1
35. 3PA.1
36. 3P%.1
37. 2P.1
38. 2PA.1
39. 2P%.1
40. eFG%.1
41. FT.1
42. FTA.1
43. FT%.1
44. ORB.1
45. DRB.1
46. TRB.1
47. AST.1
48. STL.1
49. BLK.1
50. TOV.1
51. PF.1
52. school_slug
53. season
54. scraped_at